@CHARSET "ISO-8859-1";

body
{
  font-family: Verdana;
  font-size: 10pt;
}

.btn a
{
  text-decoration:none;
}

.btn-delete
{
  width: 22px;
  height: 22px;
  padding: 3px;
}

#tooltip 
{
  border: 1px solid black;
  background: white;
  position: absolute;
  z-index: 9999;
  font-size: 7pt;
  padding: 5px;
}

#tooltip ul
{
  list-style-type:none;
	padding:0px;
	margin:0px;
}

#tooltip li
{
	background-image:url("images/dash.gif");
	background-repeat:no-repeat;
	background-position:0px 3px; 
	padding-left:10px;
}

.Information
{
  overflow-x: auto;
  border: 1px solid black;
  border-top-width: 0px;
  font-family: monospace;
  font-size: 8pt;
  float: left;
  position:relative;
  top: -3px;
}

.StatName
{
	float:left;
	clear:left;
}

.NonEquipped 
{
	border: 1px solid black;
	overflow: auto;
}

.Item
{ 
	width: 67px;
	height: 75px;
	border: 1px solid blue;
	float: left;
	background: white;
	text-align: center;
	overflow-y: hidden;
	margin: 1px;
	padding-left: 4px;
	padding-right: 4px;
	cursor: move;
}

.Item h1 
{
	font-family: verdana;
	font-size: 7pt;
	font-weight: normal;
}

.BlankItemSlot 
{
	display: none;
}

.ItemSlot
{
	width: 79px;
	height: 79px;
	border: 1px solid black;
	background: white;
	margin: 0px;
	position: absolute;
}

.Row0 { top:0px; }
.Row1 { top:80px; }
.Row2 { top:160px; }
.Row3 { top:240px; }
.Row4 { top:320px; }
.Row5 { top:400px; }

.Col0 { left:0px; }
.Col1 { left:80px; }
.Col2 { left:160px; }
.Col3 { left:240px; }
.Col4 { left:320px; }

#stored_games
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#stored_games li
{
  margin: 3px;
  padding: 3px;
}

#stored_games .ui-selecting
{
	background: #FECA40;
}

#stored_games .ui-selected
{
	background: #F39814;
	color: white;
}

.Avatar
{
  width: 32px;
  height: 32px;
  vertical-align:top;	
}

.StoredGameTitle
{
	font-weight:bold;
}

.StoredGameInfo span
{
  font-size: 10pt;	
}

#load_div
{
	width: 200px;
	background: white;
	border: 1px solid black;
	text-align: center;
	line-height: 30px;
	position: absolute;
	top: 200px;
	left: 380px;
}
